<?xml version="1.0" encoding="utf-8"?>
<daoConfig xmlns="http://ibatis.apache.org/dataAccess" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<providers resource="providers.config"/>

	<context id="SqlMapDao" default="true">
		
		<!-- ==== Sql Server : SqlClient configuration ========= -->
		<database>
			<provider name="sqlServer2.0" />
			<dataSource name="SqlServer" connectionString="data source=(local);database=NPetshop;user id=NPetshop;password=ibatisnet;" />
		</database>

		<!-- ==== Access : OleDb configuration ========= 
		<database>
			<provider name="OleDb1.1" />		 			 
			<dataSource name="Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=F:\OpenSource\DotNet\IBatisNet\IBatis.NPetshop-1.0.0.RC1\source\NPetshop.Web\NPetshop.mdb" />
		</database>-->

		<daoSessionHandler id="SqlMap">
			<property name="resource" value="SqlMap.config" />
		</daoSessionHandler>

		<daoFactory>
			<dao interface="NPetshop.Persistence.Interfaces.Catalog.ICategoryDao, NPetshop.Persistence" 
				implementation="NPetshop.Persistence.MapperDao.Catalog.CategorySqlMapDao, NPetshop.Persistence" />
			<dao interface="NPetshop.Persistence.Interfaces.Catalog.IProductDao, NPetshop.Persistence" 
				implementation="NPetshop.Persistence.MapperDao.Catalog.ProductSqlMapDao, NPetshop.Persistence" />
			<dao interface="NPetshop.Persistence.Interfaces.Catalog.IItemDao, NPetshop.Persistence" 
				implementation="NPetshop.Persistence.MapperDao.Catalog.ItemSqlMapDao, NPetshop.Persistence" />
			<dao interface="NPetshop.Persistence.Interfaces.Accounts.IAccountDao, NPetshop.Persistence" 
				implementation="NPetshop.Persistence.MapperDao.Accounts.AccountSqlMapDao, NPetshop.Persistence" />
			<dao interface="NPetshop.Persistence.Interfaces.ISequenceDao, NPetshop.Persistence" 
				implementation="NPetshop.Persistence.MapperDao.SequenceSqlMapDao, NPetshop.Persistence" />
			<dao interface="NPetshop.Persistence.Interfaces.Billing.IOrderDao, NPetshop.Persistence" 
				implementation="NPetshop.Persistence.MapperDao.Billing.OrderSqlMapDao, NPetshop.Persistence" />
		</daoFactory>
		
	</context>
	
</daoConfig>
