<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	</settings>

	<providers resource="providers.config"/>

	<sqlMaps>
		<sqlMap resource="Maps/Category.xml"/>
		<sqlMap resource="Maps/Product.xml"/>
		<sqlMap resource="Maps/Item.xml"/>
		<sqlMap resource="Maps/Account.xml"/>
		<sqlMap resource="Maps/Sequence.xml"/>
		<sqlMap resource="Maps/LineItem.xml"/>
		<sqlMap resource="Maps/Order.xml"/>
	</sqlMaps>
	
</sqlMapConfig>
